<?xml version="1.0" encoding="UTF-8"?>
<!-- INFORMATIONS 

☼ Miniatures à mettre dans : /images/cartes

☼ Cartes au format voulu à mettre dans : /mindmaps

☼ Complèter le fichier ci-dessous en respectant les balises !

--> 
<cartes>
	<!-- Cours d'histoire -->
	<matiere nom="Histoire">
		<carte nom="Dirigeants Russes et Soviétiques">
			<niveau>Général</niveau>
			<fichier>h1.xmind</fichier>
			<image>h1.jpg</image>

			<description>Découvrez là tous les grands dirigeants russes et soviétiques.</description>
		</carte>
		<carte nom="La mémoire du conflit">
			<niveau>Terminale S</niveau>
			<fichier>h2.xmind</fichier>
			<image>h2.jpg</image>
			<description>Ah les mémoires ! Entre réalité historique et revendications personnelles, voyez comment la France était divisée au sortir de la Seconde Guerre mondiale.</description>
		</carte>
	</matiere>

	<!-- Cours de géographie -->
	<matiere nom="Géographie">
	</matiere>

	<!-- Cours de physique -->
	<matiere nom="Physique">
	</matiere>

	<!-- Cours de SVT -->
	<matiere nom="SVT">
	</matiere>
</cartes>