#finder
{
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	height: 60px;
}
#finder ul.switcher
{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	height: 35px;
	list-style-type: none;
	width: auto;
	margin-left: 20px;
	border-radius: 4px;
}
#finder ul.switcher li
{
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: medium;
	color: rgba(0, 0, 0, .7);
	height: 100%;
	width: auto;
	text-transform: uppercase;
	border-radius: 4px;
	padding-left: 11px;
	padding-right: 13px;
	margin-right: 12px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	transition: background .15s linear 0s;
}

#finder ul.switcher li:active
{
	transform: scale(.955);
}
#finder ul.switcher li.selected
{
	background-color: #6A1B9A;
	color: #fff;
}
#finder ul.switcher li.selected svg
{
	fill: #fff;
}
#finder ul.switcher li svg
{
	height: 18px;
	margin-right: 8px;
	fill: rgba(0, 0, 0, .7);
}