@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif, arial;
}
::selection
{
	color: #fff;
	background-color: #6A1B9A;
}