
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Anton');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', arial, sans-serif;
}
::selection
{
	color: #fff;
	background-color: #6A1B9A;
}


/**************************************************************\
	-> La preview
\**************************************************************/
#popup
{
	cursor: default;
	position: fixed;
	top: 0%;
	left: 0%;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 5000000;
	background-color: #fff;
}
#popup.shown
{
	display: block;
}
#popup nav
{
	position: fixed;
	top: 0%;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	background-color: #6A1B9A;
	z-index: 2000;
}
#popup nav p
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: relative;
	margin-left: 30px;
	color: #fff;
	font-size: 19px;
	font-weight: normal;
	padding-right: 16px;
	font-family: 'Francois One', sans-serif;
}
#popup nav p:first-child::before
{
	content: '';
	position: absolute;
	top: 20%;
	right: -2px;
	height: 60%;
	width: 1px;
	opacity: .6;
	background-color: #fff;
}
#popup nav button
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	margin-right: 20px;
	background: transparent;
	border: none;
	outline: none;
}
#popup nav button::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	transform: scale(0);
	background-color: #fff;
	opacity: .4;
	transition: all .15s linear 0s;
}
#popup nav button:active::before
{
	transform: scale(1.8);
}
#popup nav button img
{
	height: 25px;
}

#popup div
{
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 65px;
	padding-bottom: 50px;
	width: 100%;
}
#popup div > img
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	height: auto;
	min-height: auto;
	width: 96%;
}



/**************************************************************\
	-> Le CONTENEUR
\**************************************************************/
#conteneur
{
	display: block;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	z-index: 50;
}

#conteneur header
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #6A1B9A;
	/* box-shadow: 0 3px 5px rgba(0, 0, 0,.2); */
	z-index: 500000;
}
#conteneur header img
{
	height: 35px;
	margin-left: 28px;
}

#conteneur header ul
{
	position: relative;
	display: flex;
	width: auto;
	margin-right: 28px;
	height: 100%;
}
#conteneur header ul li
{
	position: relative;
	cursor: default;
	font-family: 'Francois One', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	padding: 0 18px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	transition: color .1s linear 0s;
}
#conteneur header ul li:first-child
{
	margin-right: 4px;
}
#conteneur header ul li:first-child::before
{
	content: '';
	position: absolute;
	top: 35%;
	right: -2px;
	height: 30%;
	width: 1px;
	opacity: .6;
	background-color: #fff;
}
#conteneur header ul li.highlight,
#conteneur header ul li:hover
{
	opacity: .8;
}
@media screen and (max-width: 650px) {
	#conteneur header
	{
		flex-flow: column wrap;
		align-items: center;
		height: auto;
	}
	#conteneur header img
	{
		margin: 20px 0;
		margin-left: 0;
		height: 70px;
	}
	#conteneur header img:active
	{
		transform: scale(.95);
	}
	#conteneur header ul
	{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-right: 0;
		height: 65px;
	}
	#conteneur header ul li
	{
		position: relative;
		display: flex;
		flex-grow: 1;
		padding: 0;
	}
	#conteneur header ul li:first-child,
	#conteneur header ul li:first-child::before
	{
		display: none;
	}
	#conteneur header ul li.highlight
	{
		opacity: 1;
	}
	@keyframes deplier {
		from
		{
			transform: scaleX(0);
		}
		to
		{
			transform: scaleX(1);
		}
	}
	#conteneur header ul li.highlight::before
	{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		transform-origin: 50% 0;
		background-color: #fff;
		animation: deplier .24s linear forwards;
	}

}

@media screen and (max-width: 418px) {
	#conteneur header ul
	{
		position: relative;
		height: auto;
		flex-flow: row wrap;
	}
	#conteneur header ul li
	{
		height: 65px;
		width: 50%;
	}
	#conteneur header ul li.highlight::before
	{
		display: none;
	}
	#conteneur header ul li.highlight
	{
		opacity: .8;
	}
}



article
{
	display: none;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	margin-bottom: 40px;
	padding-bottom: 20px;
	justify-content: space-around;
	align-items: stretch;
}
article.shown
{
	display: flex;
}


.card
{
	position: relative;
	display: block;
	width: 340px;
	height: auto;
	border-radius: 5px;
	margin-top: 50px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.card .header
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 58px;
}
.card .header span
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 0 10px;
}
.card .header span img
{
	height: 23px;
}

.card .header h1
{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	font-weight: normal;
	font-size: 17px;
	color: #000;
	z-index: 400;
}
.card .header h1 p:last-child
{
	font-size: 14px;
	opacity: .6;
	margin-top: 3px;
}

.card > span
{
	position: relative;
	display: block;
	width: 100%;
	height: 180px;
	overflow: hidden;
}
.card > span img
{
	width: 100%;
}

.card > p
{
	color: rgba(0, 0, 0, .8);
	padding: 20px 25px;
	font-size: 15px;
	margin-bottom: 48px;
}
.card nav
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	border-top: 1px solid rgba(0, 0, 0, .1);
}
.card nav li
{
	display: flex;
}
.card nav a
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 45px;
	outline: none;
}
.card nav a::before
{
	content: '';
	position: absolute;
	top: 4px;
	left: 1px;
	width: 38px;
	height: 38px;
	transform: scale(0);
	border-radius: 50%;
	background-color: #000;
	opacity: .2;
	transition: all .2s linear 0s;
}
.card nav a:active::before
{
	transform: scale(1);
}
.card nav li > a.text
{
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 10px;
	border-radius: 4px;
	margin-right: 20px;
	color: rgba(0, 0, 0, .7);
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
}
.card nav li > a.text::before,
.card nav li > a.text::after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .1; 
	border-radius: 0;
	background-color: #6A1B9A;
	transform: scaleX(0);
	transform-origin: 50% 0;
	transition: all .1s linear 0s;
}
.card nav li > a.text::after
{
	transition: all .24s linear 0s;
}
.card nav li > a.text:active
{
	color: #6A1B9A;
}
.card nav li > a.text:active::before,
.card nav li > a.text:active::after
{
	transform: scaleX(1);
}
.card nav a img
{
	height: 18px;
	opacity: .7;
}


#conteneur > footer
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	color: #919191;
	font-size: 15px;
}
#conteneur > footer a
{
	font-weight: bold;
	margin-left: 4px;
	text-decoration: none;
	outline: none;
	color: rgba(0, 0, 0, .6);
	-webkit-transition: color .15s linear 0s;
	-o-transition: color .15s linear 0s;
	transition: color .15s linear 0s;
}
#conteneur > footer a:hover
{
	color: rgba(0, 0, 0, .95);
}